{
  "openapi": "3.1.0",
  "info": {
    "title": "BetDEX Wallet Integration API",
    "description": "A RESTful API that allows you to interact with the BetDEX Exchange. Provides endpoints for managing Events, Markets, Sessions, Wallets and Orders. To interact with the API, a client must have an App Id and an API Key to authenticate and create a session.",
    "version": "0.1"
  },
  "servers": [
    {
      "url": "https://sandbox.api.btdx.io/",
      "description": "Sandbox API Server"
    },
    {
      "url": "https://prod.api.btdx.io/",
      "description": "Production API Server"
    }
  ],
  "tags": [
    {
      "name": "Currencies"
    },
    {
      "name": "Event Categories"
    },
    {
      "name": "Event Groups"
    },
    {
      "name": "Event Subcategories"
    },
    {
      "name": "Events"
    },
    {
      "name": "External Reference Sources"
    },
    {
      "name": "Market Prices"
    },
    {
      "name": "Market Types"
    },
    {
      "name": "Markets"
    },
    {
      "name": "Orders"
    },
    {
      "name": "Participants"
    },
    {
      "name": "Session Management"
    },
    {
      "name": "Trades"
    },
    {
      "name": "Wallets"
    }
  ],
  "paths": {
    "/categories": {
      "get": {
        "tags": [
          "Event Categories"
        ],
        "summary": "Fetch all event categories",
        "operationId": "getAllCategories",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/categories/{id}": {
      "get": {
        "tags": [
          "Event Categories"
        ],
        "summary": "Fetch event category by id",
        "operationId": "getCategoryById",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/currencies": {
      "get": {
        "tags": [
          "Currencies"
        ],
        "summary": "Fetch a list of supported currencies",
        "description": "Returns the list of currencies supported by the exchange",
        "operationId": "currencies",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/currencies/{id}": {
      "get": {
        "tags": [
          "Currencies"
        ],
        "summary": "Fetch currency by its ID",
        "description": "Returns the currency or 404",
        "operationId": "getCurrencyById",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Currency ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/event-groups": {
      "get": {
        "tags": [
          "Event Groups"
        ],
        "summary": "Fetch all event groups",
        "operationId": "getAllEventGroups",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "subcategoryIds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventGroupResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventGroupResponse"
                }
              }
            }
          }
        }
      }
    },
    "/event-groups/by-reference/{source}/{reference}": {
      "get": {
        "tags": [
          "Event Groups"
        ],
        "summary": "Fetch event group by external reference",
        "operationId": "getByReference_4",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "source",
            "in": "path",
            "description": "external reference source, e.g: BF for Betfair",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reference",
            "in": "path",
            "description": "external reference id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventGroupResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventGroupResponse"
                }
              }
            }
          }
        }
      }
    },
    "/event-groups/{id}": {
      "get": {
        "tags": [
          "Event Groups"
        ],
        "summary": "Fetch event group by id",
        "operationId": "getEventGroupById",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventGroupResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventGroupResponse"
                }
              }
            }
          }
        }
      }
    },
    "/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Fetch events",
        "description": "Fetch events by ids, categories, sub-categories, event groups and/or from/to dates",
        "operationId": "getEvents",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "ids",
            "in": "query",
            "description": "list of event ids",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "name": "ownerAppIds",
            "in": "query",
            "description": "List of IDs of the apps that created the Events",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "name": "categoryIds",
            "in": "query",
            "description": "list of category ids",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "name": "subcategoryIds",
            "in": "query",
            "description": "list of sub-category ids",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "name": "eventGroupIds",
            "in": "query",
            "description": "list of event group ids",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "name": "starting",
            "in": "query",
            "description": "Live, Today, Later, Range",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Live",
                "Today",
                "Later",
                "Range"
              ]
            }
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "description": "starting from date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toDateTime",
            "in": "query",
            "description": "starting to date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "active",
            "in": "query",
            "description": "Whether the event is active or not",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedEventResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedEventResponse"
                }
              }
            }
          }
        }
      }
    },
    "/events/by-reference/{source}/{reference}": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Fetch event by external reference",
        "operationId": "getByReference_3",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "source",
            "in": "path",
            "description": "external reference source, e.g: BF for Betfair",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reference",
            "in": "path",
            "description": "external reference id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedEventResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedEventResponse"
                }
              }
            }
          }
        }
      }
    },
    "/events/{id}": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Fetch event by id",
        "operationId": "getEvent",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "event id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventResponse"
                }
              }
            }
          }
        }
      }
    },
    "/events/{id}/participants": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Fetch events participants for a given event id",
        "operationId": "getEventParticipants",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventParticipantsResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing permission",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventParticipantsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/external-reference-sources": {
      "get": {
        "tags": [
          "External Reference Sources"
        ],
        "summary": "Fetch external reference sources",
        "operationId": "getExternalSources",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalReferenceSourcesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalReferenceSourcesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/faucet": {
      "get": {
        "tags": [
          "Wallets"
        ],
        "summary": "Credit wallet with test funds",
        "description": "Credit wallet with 1000 units of a given currency (only available on sandbox environment)",
        "operationId": "creditWallet",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "walletId",
            "in": "query",
            "description": "id of the wallet to be credited",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currencyId",
            "in": "query",
            "description": "currency id of the wallet to be credited",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TransferResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TransferResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing permission",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TransferResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TransferResponse"
                }
              }
            }
          }
        }
      }
    },
    "/market-prices": {
      "get": {
        "tags": [
          "Market Prices"
        ],
        "summary": "Fetch market prices",
        "operationId": "getMarketsPrices",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "marketIds",
            "in": "query",
            "description": "market ids",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "includeEmpty",
            "in": "query",
            "description": "also include any prices that have been previously matched against but don\u0027t currently have any available liquidity",
            "required": false,
            "deprecated": true,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketLiquiditiesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketLiquiditiesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketLiquiditiesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/market-prices/ladder": {
      "get": {
        "tags": [
          "Market Prices"
        ],
        "summary": "Fetch market price ladder",
        "operationId": "getMarketPriceLadder",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketPriceLadderResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketPriceLadderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/market-types": {
      "get": {
        "tags": [
          "Market Types"
        ],
        "summary": "Fetch all market types",
        "operationId": "getMarketTypes",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketTypeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketTypeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/market-types/{id}": {
      "get": {
        "tags": [
          "Market Types"
        ],
        "summary": "Fetch market type by id",
        "operationId": "getMarketType",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketTypeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketTypeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/markets": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Fetch markets",
        "description": "Returns a paginated list of markets based on the provided filter and ordering criteria. This can get specific known markets (by market ID), or markets based on other criteria such as event ID(s) and/or market type and status etc.",
        "operationId": "getMarkets",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Optional list of specific IDs to fetch",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "name": "ownerAppIds",
            "in": "query",
            "description": "Optional list of app IDs to filter results by",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "name": "eventIds",
            "in": "query",
            "description": "Optional list of event IDs to filter results by",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "name": "marketTypeIds",
            "in": "query",
            "description": "Optional list of market type IDs to filter results by",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "name": "currencyIds",
            "in": "query",
            "description": "Optional list of currency IDs to filter results by",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "Optional list of market statuses to filter results by",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "Initializing",
                  "Open",
                  "Locking",
                  "Locked",
                  "Settling",
                  "Settled",
                  "Voiding",
                  "Voided",
                  "Closed"
                ]
              },
              "uniqueItems": true
            }
          },
          {
            "name": "inPlayStatuses",
            "in": "query",
            "description": "Whether the markets are currently in-play or not. Returns all if not set",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "NotApplicable",
                  "PrePlay",
                  "InPlay"
                ]
              },
              "uniqueItems": true
            }
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "description": "The inclusive beginning of a date-time range filter. If not provided, no restriction will be applied to the beginning of the range",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toDateTime",
            "in": "query",
            "description": "The exclusive end of a date-time range filter. If not provided, no restriction will be applied to the end of the range",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "published",
            "in": "query",
            "description": "Optional filter as to whether the market is published or not",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedMarketResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedMarketResponse"
                }
              }
            }
          }
        }
      }
    },
    "/markets/by-reference/{source}/{reference}": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Fetch market by external reference",
        "operationId": "getByReference_2",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "source",
            "in": "path",
            "description": "external reference source, e.g: BF for Betfair",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reference",
            "in": "path",
            "description": "external reference id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedMarketResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedMarketResponse"
                }
              }
            }
          }
        }
      }
    },
    "/markets/historical": {
      "get": {
        "tags": [
          "Markets",
          "Trades"
        ],
        "summary": "Fetch historical settled markets",
        "description": "Fetch historical (settled) markets, filtered by query type (settlement date or event start date). Optionally filter by event. Pagination is by offset using the selected queryType timestamp (settledAt or eventExpectedStartTime) and id as the primary and secondary offsets. Fetch the initial page without any offsets set, and use returned _next_offset values iteratively until _next_offset is null, or _count is 0.",
        "operationId": "getMarketsHistorical",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "queryType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "SettledDate",
                "EventStartDate"
              ]
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "beginning of the date range filter (inclusive)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "end of the date range filter (inclusive)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "eventId",
            "in": "query",
            "description": "optional event id to filter results by",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Value to offset the current page request by (inclusive)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "secondaryOffset",
            "in": "query",
            "description": "Secondary offset value, i.e., if offset value is non-unique (exclusive)",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of elements to retrieve",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: asc|desc. \"\n\nDefault sort order is ascending.\n",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OffsetPageMarketHistoricalResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OffsetPageMarketHistoricalResponse"
                }
              }
            }
          }
        }
      }
    },
    "/markets/{id}": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Fetch market by id",
        "operationId": "getMarket",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "market id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketResponse"
                }
              }
            }
          }
        }
      }
    },
    "/markets/{id}/orders": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Fetch market orders",
        "description": "Fetch market orders by wallets. Page size limit 500",
        "operationId": "getMarketOrders",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "market id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "walletIds",
            "in": "query",
            "description": "list of wallet ids",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedOrderResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedOrderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/markets/{id}/positions": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Fetch market positions",
        "description": "Fetch market positions by wallets",
        "operationId": "getMarketPositions_1",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "market id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "walletIds",
            "in": "query",
            "description": "list of wallet ids",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedMarketPositionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedMarketPositionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/markets/{id}/prices": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Fetch market prices",
        "operationId": "getMarketPrices",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "market id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeEmpty",
            "in": "query",
            "description": "also include any prices that have previously been matched against but don\u0027t currently have any available liquidity",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketLiquidityResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketLiquidityResponse"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/markets/{id}/prices-v2": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Fetch market prices",
        "operationId": "getMarketPricesV2",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "market id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketLiquiditiesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketLiquiditiesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/order-requests": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create an order request (Coming soon) ",
        "description": "Submit a request to create an order and get back an acknowledgement response containing the order\u0027s ID immediately. An order with a status of Pending will be created immediately in order to generate an ID; Any in-play/BIR delay, as well as initial matching will be performed asynchronously. Updates about orders created via this method maybe found as OrderUpdate messages through the StreamAPI and/or by calling GET /orders/{id} with the returned ID",
        "operationId": "createOrderRequest",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IDResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IDResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IDResponse"
                }
              }
            }
          }
        }
      }
    },
    "/order-requests/batch": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create an order request (Coming soon)",
        "description": "Submit a request to create multiple orders and get back an acknowledgement response containing the orders\u0027 ID\u0027s immediately. Orders with status of Pending will be created immediately in order to generate IDs; Any in-play/BIR delay, as well as initial matching will be performed asynchronously. The order IDs, and/or any errors, will be ordered in the response in the same order as in the request. Updates about orders created via this method maybe found as OrderUpdate messages through the StreamAPI and/or by calling GET /orders/{id} with the returned IDs",
        "operationId": "createOrderRequests",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchCreateOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BatchIDResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BatchIDResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BatchIDResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Fetch orders by filters.",
        "description": "Fetch orders by filters. At least one of the following filter parameters must be supplied: ids, appIds, eventIds, marketIds, walletIds, references. Page size limit 500.",
        "operationId": "getOrders",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "ids",
            "in": "query",
            "description": "list of order ids to filter by",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "appIds",
            "in": "query",
            "description": "list of apps to filter by",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "eventIds",
            "in": "query",
            "description": "list of events to filter by",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "marketIds",
            "in": "query",
            "description": "list of markets to filter by",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "walletIds",
            "in": "query",
            "description": "list of wallets to filter by",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "references",
            "in": "query",
            "description": "list of references to filter by - requires appId to be provided also",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "statuses to filter by - valid values to choose are as follows:\n\u003cul\u003e\n    \u003cli\u003e Cancelled - Orders that have not matched and have been cancelled either on request or automatically\u003c/li\u003e\n    \u003cli\u003e Matched - Orders that have been matched, either fully or partially, where the remaining unmatched stake has been cancelled, either on request or automatically\u003c/li\u003e\n    \u003cli\u003e PartiallyMatched - Orders that have been partially matched, and the remaining unmatched portion might still be matched\u003c/li\u003e\n    \u003cli\u003e Unmatched - Orders that have not yet been matched, and the remaining unmatched portion might still be matched\u003c/li\u003e\n    \u003cli\u003e Won - Previously Matched orders that have been deemed to have Won at the time of market settlement\u003c/li\u003e\n    \u003cli\u003e Lost - Previously Matched orders that have been deemed to have Lost at the time of market settlement\u003c/li\u003e\n    \u003cli\u003e Voided - All orders belonging to markets that have been voided\u003c/li\u003e\n\u003c/ul\u003e\n",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "The status of an order can be one of the following\n\u003cul\u003e\n    \u003cli\u003e Cancelled - The order was not matched and has been cancelled either on request or automatically\u003c/li\u003e\n    \u003cli\u003e Failed - A pending order was persisted but then failed to be fully created\u003c/li\u003e\n    \u003cli\u003e Matched - The order has been matched, either fully, or partially where the remaining unmatched stake has been cancelled, either on request or automatically\u003c/li\u003e\n    \u003cli\u003e PartiallyMatched - The order has been partially matched, and the remaining unmatched portion might still be matched\u003c/li\u003e\n    \u003cli\u003e Pending - An order has been persisted but has not yet been processed\u003c/li\u003e\n    \u003cli\u003e Unmatched - The order has not yet been matched, and the remaining unmatched portion might still be matched\u003c/li\u003e\n    \u003cli\u003e Won - The market has been settled and this previously Matched order has been deemed to have Won\u003c/li\u003e\n    \u003cli\u003e Lost - The market has been settled and this previously Matched order has been deemed to have Lost\u003c/li\u003e\n    \u003cli\u003e Voided - The market has been voided so this order has been voided\u003c/li\u003e\n\u003c/ul\u003e\n",
                "enum": [
                  "Cancelled",
                  "Failed",
                  "Matched",
                  "PartiallyMatched",
                  "Pending",
                  "Unmatched",
                  "Won",
                  "Lost",
                  "Voided"
                ]
              }
            }
          },
          {
            "name": "fromStake",
            "in": "query",
            "description": "beginning of the stake range filter (inclusive)",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "toStake",
            "in": "query",
            "description": "end of the stake range filter (inclusive)",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "fromCreatedAt",
            "in": "query",
            "description": "beginning of the creation date range filter (inclusive)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toCreatedAt",
            "in": "query",
            "description": "end of the creation date range filter (inclusive)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "matchBehavior",
            "in": "query",
            "description": "Optional - How any unmatched portion of an order is treated:\n\u003cul\u003e\n    \u003cli\u003eRetainUnmatched - unmatched portion persists as an offer (default)\u003c/li\u003e\n    \u003cli\u003eCancelUnmatched - unmatched portion is cancelled\u003c/li\u003e\n\u003c/ul\u003e\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "RetainUnmatched",
                "CancelUnmatched"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedOrderResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedOrderResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create order",
        "operationId": "createOrder",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing permission",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/batch": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create multiple orders",
        "operationId": "createOrders",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchCreateOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BatchOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BatchOrderResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BatchOrderResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing permission",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BatchOrderResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BatchOrderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/by-reference/{reference}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Fetch order by reference",
        "operationId": "getOrderByReference",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/cancel": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Cancel orders in batch",
        "description": "Cancel orders owned by the caller by event and/or market; skips invalid markets/orders. Pending orders will be updated with matchBehavior: CancelUnmatched, and any remaining unmatched stake after processing will be cancelled.",
        "operationId": "cancelOrders",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "walletIds",
            "in": "query",
            "description": "list of wallets to filter the orders to be cancelled",
            "required": false,
            "deprecated": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "eventIds",
            "in": "query",
            "description": "list of event IDs to filter the orders to be cancelled",
            "required": false,
            "deprecated": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "marketIds",
            "in": "query",
            "description": "list of market IDs to filter the orders to be cancelled",
            "required": false,
            "deprecated": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "orderIds",
            "in": "query",
            "description": "list of order IDs to filter the orders to be cancelled",
            "required": false,
            "deprecated": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchCancelOrdersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ChunkOrderResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ChunkOrderResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ChunkOrderResponse"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/orders/cancel-v2": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Cancel orders in batch",
        "description": "Cancel orders owned by the caller by event and/or market; skips invalid markets/orders. Pending orders will be updated with matchBehavior: CancelUnmatched, and any remaining unmatched stake after processing will be cancelled.",
        "operationId": "cancelOrdersV2",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchCancelOrdersRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns an IDResponse object containing the IDs of any successfully cancelled orders.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IDResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IDResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IDResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/cancelled": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Fetch cancelled and failed orders by wallet",
        "description": "Fetch cancelled (unmatched/unfilled) and failed orders for the given wallet that were created in the given date range. Optionally filter by market. Pagination is by offset using createdAt and id, as the primary and secondary offsets. Fetch initial page without any offsets set, and use returned _next_offset values iteratively until _next_offset is null, or _count is 0.",
        "operationId": "getOrdersCancelled",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "walletId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromCreatedAt",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toCreatedAt",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "marketId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Value to offset the current page request by (inclusive)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "secondaryOffset",
            "in": "query",
            "description": "Secondary offset value, i.e., if offset value is non-unique (exclusive)",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of elements to retrieve",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: asc|desc. \"\n\nDefault sort order is ascending.\n",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OffsetPageOrderResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OffsetPageOrderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/historical": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Fetch historical won, lost or voided orders by wallet",
        "description": "Fetch historical (won, lost or voided) orders for the given wallet, filtered by query type (settlement date or event start date). Optionally filter by market. Pagination is by offset using the selected queryType timestamp (settledAt or eventExpectedStartTime) and id as the primary and secondary offsets. Fetch the initial page without any offsets set, and use returned _next_offset values iteratively until _next_offset is null, or _count is 0.",
        "operationId": "getOrdersHistorical",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "walletId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "queryType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "SettledDate",
                "EventStartDate"
              ]
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "marketId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Value to offset the current page request by (inclusive)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "secondaryOffset",
            "in": "query",
            "description": "Secondary offset value, i.e., if offset value is non-unique (exclusive)",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of elements to retrieve",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: asc|desc. \"\n\nDefault sort order is ascending.\n",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OffsetPageOrderHistoricalResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OffsetPageOrderHistoricalResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/settled": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Fetch orders settled in date range",
        "description": "Fetch  orders settled in date range, filtered by wallet (settled orders are those of status \u0027Won\u0027, \u0027Lost\u0027, or \u0027Voided\u0027). Page size limit 500, max date range is 10 days.",
        "operationId": "getOrdersSettledBetween",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "fromSettledAt",
            "in": "query",
            "description": "beginning of the settled date range filter",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toSettledAt",
            "in": "query",
            "description": "end of the settled date range filter",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "walletId",
            "in": "query",
            "description": "wallet to filter by",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedOrderResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedOrderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Fetch order by id",
        "operationId": "getOrder",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{id}/cancel": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Cancel order by id",
        "description": "Cancel order by id. Pending orders will be updated with matchBehavior: CancelUnmatched, and any remaining unmatched stake after processing will be cancelled.",
        "operationId": "cancelOrder",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing permission",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/orders/{id}/cancel-v2": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Cancel order by id",
        "description": "Pending orders will be updated with matchBehavior: CancelUnmatched, and any remaining unmatched stake after processing will be cancelled.",
        "operationId": "cancelOrderV2",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an IDResponse object containing the ID of the cancelled order. If the ID is missing, then the order was either already cancelled or fully matched.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IDResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IDResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing permission",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IDResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IDResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IDResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{id}/trades": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Fetch trades by order",
        "operationId": "getTradesByOrderId",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TradeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TradeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/participants/by-reference/{source}/{reference}": {
      "get": {
        "tags": [
          "Participants"
        ],
        "summary": "Fetch participants by external reference",
        "operationId": "getByReference_1",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "source",
            "in": "path",
            "description": "external reference source, e.g: BF for Betfair",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reference",
            "in": "path",
            "description": "external reference id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ParticipantsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ParticipantsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sessions": {
      "post": {
        "tags": [
          "Session Management"
        ],
        "summary": "Create a session",
        "description": "Create a session for the supplied credentials and receive access and refresh tokens. These tokens will be used for Bearer authentication, and passed as part of the authorization header where required.\n\n\u003cb\u003eNOTE:\u003c/b\u003e \u003ccode\u003ewalletId\u003c/code\u003e should be omitted or set to \u003ccode\u003enull\u003c/code\u003e \u003ci\u003eunless\u003c/i\u003e the API key being used is of type \u003ccode\u003eWALLET\u003c/code\u003e.\n",
        "operationId": "createSession",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSessionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          },
          "404": {
            "description": "No matching credentials were found. If the provided API key is of type WALLET, please be sure the appropriate wallet ID is passed in the \u003ccode\u003ewalletId\u003c/code\u003e field.",
            "content": {
              "*/*": {
                "example": {
                  "title": "Not found",
                  "details": [
                    "APIKey entity with ID of pa****34 not found for App with ID of ANAPPID"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/sessions/refresh": {
      "post": {
        "tags": [
          "Session Management"
        ],
        "summary": "Refresh a session",
        "description": "Refresh an existing session using the refresh token. If a session\u0027s access token has expired but the refresh token is still valid, the existing session can be refreshed.\nNew access and refresh tokens will be returned.\n\nThe refresh token should be used in place of the access token in the authorization header for Bearer authentication.\n\nThis is a faster operation than creating a new session and refreshing should be preferred to creating new sessions where possible.\n",
        "operationId": "refreshSession",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the refreshToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          }
        ],
        "requestBody": {
          "description": "NOTE: This request body is deprecated, plase pass the refresh token as part of the authorization header instead",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshSessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "example": {
                  "title": "Unauthorized",
                  "details": [
                    null
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/subcategories": {
      "get": {
        "tags": [
          "Event Subcategories"
        ],
        "summary": "Fetch subcategories by categories",
        "operationId": "getAllSubcategories",
        "parameters": [
[...]
